[Unit]
Description=airmon service
After=network.target

[Service]
WorkingDirectory=/home/pi/code/airmon
VIRTUAL_ENV=/home/pi/code/airmon/venv
Environment=PATH=$VIRTUAL_ENV/bin:$PATH
ExecStart=/home/pi/code/airmon/venv/python sense.py
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
