[Unit]
Description=Air Monitor Sensing
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/code/airmon/venv/bin/python /home/pi/code/airmon/app/sense.py > /home/pi/code/airmon/logs/sense.log 2>&1
WorkingDirectory=/home/pi/code/airmon/app/
User=pi

[Install]
WantedBy=multi-user.target
